/*--RESET CSS-----------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
On parle souvent du document css comme étant "the fichier!"
Sans lui plus rien ne vas, le monde part en vrille!
Plus aucune beauté, plus aucune cohérence, plus de forme, de vie, d'interaction.. On est comme un aveugle, on ne voit plus rien.
*/

/* Bordel sans nom: */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Un corps, sexy en plus! */
#corps{
	width : 60vw;
	margin : 0vw auto;
	background-color: white;
	height : 80%;
	opacity: 0.5;
	padding-top: 5vh;
	padding-bottom:20vh
}

#fleche{
	position:fixed;
	right:0px;
	top: 3vw;
	display:none;
}

header{
	padding-top: 4vh;
	padding-left: 2vw;
	font-size : 2vw;
	margin: 2px;
	font: Verdana, Arial, Sans-Serif;
}

/* Bla bla bla... */
h1, h2, h3 {
	font-weight: bold;
	margin: 1em 0;

}
h1, h2 {
	padding-left: 0.5em;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 18px;
	border-bottom: 2px solid #666666;
}
h3 {
	font-size: 1vw;
	margin-left: 1em;
}
p {
	margin: 1em;
}
strong {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #3c96f1;
}

main{
	margin: 2px;
}

#intro{
	margin: 2px;
}

form{
	margin: 2px;
	width: 45%;
	display: inline-block;
}

#graph{
	margin: 2px;
	width: 45%;
	display: inline-block;
	right: 0;
}

/* Le theme est gérer ici. C'est ainsi que le magnifique désert apparait de jour comme de nuit! */
:root {
    width: 100%;
    height: 100%
}

/* Bite. On parle aussi de sexe-ions. */
#sectionD {
	font-family: Verdana, Arial, Sans-Serif;
	font-weight:bold;
    height: 100vh;
    width: 100%;
    background-image: url(desert.png);
	background-size: cover;
	background-position: center;
    transition: 0.5s;
}

#sectionD.dark {
	font-family: Verdana, Arial, Sans-Serif;
	font-weight:bold;
    background-color : rgb(52, 39, 68);
    background-image: url(desertnuit.png);
	background-size: cover;
	background-position: center;
    transition : 0.5s;
}

#ulD {
    position: absolute;
    top: 3vw;
    right: 20px;
    margin : 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor : pointer;
    overflow: hidden;
}

#ulD.active {
    border-color: white;
    background-color: white;
}

#ulD li {
    list-style : none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: : uppercase;
    transition: 0.5s;
}

#ulD li span {
    display : block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color : rgb(52, 39, 68);
    background-color: white;

}
#ulD.active li {
    transform: translateY(-30px)
}
#ulD li span:nth-child(1) {
    background : rgb(52, 39, 68);
    color: white;
}

/* End Theme */

/* Comme je sais pas quoi écrire pour les lignes à venir je vais vous raconter quelque blagounette. Ames sensible s'abstenir!

/*
Une blonde se dirige vers sa boite aux lettres, regarde dedans, referme la petite porte et rentre chez elle.
Quelques minutes plus tard, elle ressort, va vers la boîte aux lettres, regarde dedans, referme la petite porte et rentre chez elle.
Elle répète ce manège plusieurs fois avant qu'un voisin qui assistait à la scène ne lui demande :
Vous devez attendre une lettre ou un paquet très important aujourd'hui !
La blonde répond : - Non, c'est juste que ce foutu ordinateur n'arrête pas de me dire que j'ai du courrier !
*/


/*
   Menu
*/

{
    margin: 0;
}

nav > ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #333;
    list-style-type: none;
    height: 5vh;
    margin: 0;
	font-family: Verdana, Arial, Sans-Serif;
}

#Qu_est_ce{

}
#qui{

}
#est{

}
#jaune{

}
#et_qui{

}
#attend{

}

/*******************************************************************************************//*

                              				JONHATAN

							https://www.youtube.com/watch?v=etoDNEDD5mg

*//*******************************************************************************************/

nav > ul > li > a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 2vw;
}

nav > ul > li > a:hover
{
    background-color: #111;
}

nav > ul > li:first-child
{
    position: absolute;
    left: 0;
    height: 5vh;
}

/*
   Changement de style
*/

/*
Blague Internets...
Un célibataire c'est quelqu'un qui a mis sa vie en lecture seule
*/

#IMGampoule{
	width:5vw;
	height:5vw;
}

#ampoule:active {
	box-shadow: 1vw 1vw 2vw #aaa;
}

#ampoule:checked {
	color: white;
	height: 10
}

#style{
	display:none;
}

#ampoule {
	width:5vw;
	height:5vw;
	background:#fafafa;
	box-shadow: 0.5vw 0.5vw 2vw #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
	margin-right : 3vw;
	right: 0px;
	position:fixed;
	bottom:2vh;
	z-index:1;
}

#horaire {
  display: inline-block;
  width: 1.5vw;
  height: 10vh;
  padding: 0;
}

#horaire input {
  width: 12vh;
  height: 1.5vh;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

#decor {
  display: inline-block;
  width: 1.5vw;
  height: 10vh;
  padding: 0;
}

#decor input {
  width: 3vw;
  height: 1.5vh;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  top: -2px;
}

#style:checked + label + #Theme{
	display:block;
	position: relative;
	background-color: white;
	box-shadow: 0.5vw 0.5vw 2vw #aaa;
	width: 10vw;
	height: 20vh;
	position:fixed;
	right: 3.4vw;
	bottom:4vh;
	border-radius: 1vw	;
}

#horaire, #decor{
	margin-left: 2vw;
}

#Theme {
	display:none;
}

#horaire > p {
	position:relative;
	top: 1.2vh;
	left:1.5vw;
	font-size:1.4vw;
}

#decor > p {
	position:relative;
	top: 1.2vh;
	left:1.5vw;
	font-size:1.4vw;
}

#decor > input{
	position:relative;
	top : -6vh;
}

/****************************************************************
                            Pied de mémé
****************************************************************/



/****************************************************************
                            Pied de page
****************************************************************/
body > footer {
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  background-color: #ebccae;
  transition : 0.5s;
}

body > footer.dark {
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  background-color: #333;
  transition : 0.5s;
}

/*
Pourquoi un geek se suicide-t-il ? Pour redémarrer sa vie en mode sans échec!
*/
